<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <title>
      The Timeline Times
      <% if @title %><%=h "| @#{@title}" %><% if @page_type %><%=h "'s #{@page_type}" %><% end %><% end %>
    </title>

    <!-- Add jQuery -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <!-- Add Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    <!-- Add timeline-times.css & timeline-times.js -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container-fluid" id="article-detail">
      <div class="row-fluid">
        <div class="span8 offset2">
          <article>
            <h3>
              <a href="<%=h @article.webpage.expanded_url %>" target="_blank">
                <%=h @article.webpage.title ? @article.webpage.title : @article.webpage.expanded_url[0..30] %>
              </a>
            </h3>
            <div class="article-image-container">
              <a href="<%=h @article.webpage.expanded_url %>" target="_blank">
                <% if @article.webpage.opengraph != {} %>
                <img src="<%=h @article.webpage.opengraph['image'] %>" class="article-image">
                <% elsif @article.webpage.embed %>
                <%= @article.webpage.embed %>
                <% else %>
                <img src="<%=h @article.webpage.thumb %>" width="100%" class="article-image">
                <% end %>
                <h3><%=h @article.webpage.title ? @article.webpage.title : @article.webpage.expanded_url[0..20] %></h3>
              </a>

            </div>
            <ul class="tweet-list">
              <% @article.statuses.reverse.each do |status|%>
              <li class="tweet"><img src="<%=h status.user["profile_image_url"] %>" height="42"><p>@<%=h status.user["screen_name"] %>/<%=h status.user["name"] %><br> <%=h status.text %></p><p class="date"><%=h status.created_at %></p></li>
              <% end %>
            </ul>
            <div class="footer">Article Updated At <%=h @article.updated_at %></div>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
