      <div class="row-fluid header">
        <div class="span3"></div>
        <div class="span6"><h1><%=h "@#{@title}" %><% if @page_type %><%=h "'s #{@page_type}" %><% end %></h1></div>
        <div class="span3"></div>
      </div>

<div id="container">
  <% @articles.each do |article| %>
  <div class="item <%= "collum#{article.statuses.length <= 4 ? article.statuses.length : 4}" %>">
    <h3>
      <a href="<%=h article.webpage.expanded_url %>" target="_blank">
        <%=h article.webpage.title ? article.webpage.title : article.webpage.expanded_url[0..30] %>
      </a>
    </h3>
    <a href="<%=h article.webpage.expanded_url %>" target="_blank">
      <% if article.webpage.opengraph != {} %>
      <img src="<%=h article.webpage.opengraph['image'] %>">
      <% elsif article.webpage.embed %>
      <%= article.webpage.embed %>
      <% else %>
      <img src="<%=h article.webpage.thumb %>" width="100%">
      <% end %>
    </a>
    <ul>
      <% article.statuses.reverse.each do |status|%>
      <li><img src="<%=h status.user["profile_image_url"] %>" height="42"><p>@<%=h status.user["screen_name"] %>/<%=h status.user["name"] %>: <%=h status.text %></p><p class="date"><%=h status.created_at %></p></li>
      <% end %>
    </ul>
    <p>Article Updated At <%=h article.updated_at %></p>
  </div>
  <% end %>
</div>
<% if  @articles.size == @per_page %>
<div class="row-fluid footer">
  <div class="span3"></div>
  <div class="span6">
    <a href="/users/<%= @user.screen_name %>/recent?page=<%=h @page.to_i + 1 %>" class="btn btn-large btn-block btn-primary" id="next">次のページ</a>
  </div>
</div>
<% end %>
