<div id="container">
  <% @webpages.each do |webpage| %>
  <div class="item">
    <p><a href="<%=h webpage.page_url %>" target="_blank"><%=h webpage.page_url %></a></p>
    <img src="http://fakeimg.pl/200x150/" width="200" height="150">
    <ul>
      <% webpage.statuses.each do |status|%>
      <li><img src="<%=h status.creator.profile_image_url %>" height="42"><p>@<%=h status.creator.screen_name %>/<%=h status.creator.name %>: <%=h status.text %></p><p class="date"><%=h status.posted_at %></p></li>
      <% end %>
    </ul>
    <p>Info:</p>
  </div>
  <% end %>
</div>
